@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	background: #f0f0f0;
}

.container {
	background: white;
	width: 100%;
	max-width: 1180px;
	margin: 0 auto;
	padding: 1rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1rem;
}

.toolbar {
	display: flex;
}

.toolbar > button {
	background: #f0f0f0;
	border: none;
	padding: 0.5rem;
	margin: 0.5rem;
	border-radius: 0.5rem;
	cursor: pointer;
	font-size: 1rem;
}

.left {
	border-right: 2px solid #000;
	padding-right: 1rem;
}
